@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');
@import url('https://fonts.googleapis.com/css?family=Protest+Riot');
@import url('https://fonts.googleapis.com/css?family=Honk');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image:
    linear-gradient(
      -90deg,transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)
    ),
    linear-gradient(
      0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  color: white;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: blue;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid blue;  /* creates padding around scroll thumb */
}
#psup {
  height: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-family:"Pixelify Sans";
  background-image: url("./imagenes/fondo.webp");
  background-position:center;
}
.tdDatos {
  padding-left: 5%;
}
.catalogos {
  margin-bottom: 30%;
  color:red;
}
.imagenesConsolas {
  height: 750px;
}
.master-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}
.card {
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-weight: 700;
  font-size: 11px;
  color: #63656b;
}
.cart {
  border-radius: 19px 19px 7px 7px;
}
.cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.cart .products .product {
  display: grid;
  grid-template-columns: 60px 1fr 80px 1fr;
  gap: 10px;
}
.cart .products .product span {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin-bottom: 8px;
  display: block;
}
.cart .products .product p {
  font-size: 11px;
  font-weight: 600;
  color: #7a7c81;
}
.cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.cart .quantity label {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #47484b;
}
.cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.card .small {
  font-size: 15px;
  margin: 0 0 auto auto;
}
.card .small sup {
  font-size: px;
}
.coupons {
  border-radius: 7px;
}
.coupons form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 10px;
}
.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
.coupons form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.checkout {
  border-radius: 9px 9px 19px 19px;
}
.checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}
.checkout .details span {
  font-size: 13px;
  font-weight: 600;
}
.checkout .details span:nth-child(odd) {
  font-size: 11px;
  font-weight: 700;
  color: #707175;
  margin: auto auto auto 0;
}
.checkout .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin: auto 0 auto auto;
}
.checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #efeff3;
}
.price {
  position: relative;
  font-size: 22px;
  color: #2B2B2F;
  font-weight: 900;
}
.price sup {
  font-size: 13px;
}
.price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}
.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#colocacion {
  background-color: lightblue;
  width: 33%;
  display: inline-block;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
  
.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.signin {
  text-align: center;
}
  
.signin a {
  color: royalblue;
}
.signin a:hover {
  text-decoration: underline royalblue;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
  
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input:valid + span {
  color: green;
}
  
.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}
.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.form-container {
  width: 33%;
  height: 450px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}
.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}
.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}
.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}
.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}
.page-link-label:hover {
  color: #000;
}
.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-btn:active {
  box-shadow: none;
}
.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}
.apple-login-button, .google-login-button {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 11px;
  gap: 5px;
}
.apple-login-button {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}
.google-login-button {
  border: 2px solid #747474;
}
.apple-icon, .google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}
.card {
  width: 100%;
  height: 400px;
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
.card2 {
  width: 22%;
  margin-left: 8%;
  margin-bottom: 3%;
  height: 530px;
  background: mediumturquoise;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
.card3 {
  display: flex;
  height: 100px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5%;
}
.card::before, .card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}
.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}
.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}
.card:hover::before, .card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
.der {
  display: flex;
  height: 100px;
  width: 50%;
  background-color: red;
  justify-content: flex-end;
}
.izq {
  font-family: "Protest Riot";
  display: flex;
  height: 100px;
  width: 50%;
  background-color: red;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.carta {
  display: flex;
  height: 70px;
  width: 350px;
}
.carta svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}
.carta .social-link1,.carta .social-link2,.carta .social-link3,.carta .social-link4,.carta .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}
.carta svg {
  transform: scale(1);
}
.carta .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}
.carta .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}
.carta .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}
.carta .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}
.carta .social-link5:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}
.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}
.icon {
  border-radius: 1px;
}
.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.66em;
  font-weight: 600;
  padding-top: 10%;
}
.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}
.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}
.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

select {
  border: 0px solid #fff;
  background-color: transparent;
  color: blue;
}
.ejemplo {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejemplo .span-mother {
  display: flex;
  overflow: hidden;
}
.ejemplo:hover .span-mother {
  position: absolute;
}
.ejemplo:hover .span-mother span {
  transform: translateY(1.2em);
}
.ejemplo .span-mother span:nth-child(1) {
  transition: 0.2s;
}
.ejemplo .span-mother span:nth-child(2) {
  transition: 0.3s;
}
.ejemplo .span-mother span:nth-child(3) {
  transition: 0.4s;
}
.ejemplo .span-mother span:nth-child(4) {
  transition: 0.5s;
}
.ejemplo .span-mother span:nth-child(5) {
  transition: 0.6s;
}
.ejemplo .span-mother span:nth-child(6) {
  transition: 0.7s;
}
.ejemplo .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}
.ejemplo .span-mother2 span {
  transform: translateY(-1.2em);
}
.ejemplo:hover .span-mother2 span {
  transform: translateY(0);
}
.ejemplo .span-mother2 span {
  transition: 0.2s;
}
.ejemplo .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}
.ejemplo .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}
.ejemplo .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}
.ejemplo .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}
.ejemplo .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}
.username {
  color: blue;
  margin-left: 5%;
}
.card5 {
  width: 22%;
  margin-left: 8%;
  margin-bottom: 2%;
  height: 500px;
  background: rgba(212, 12, 12, 0.425) ;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  display: inline-table;
}
.logout-link {
  display: none;
}
.user-info:hover .logout-link {
  display: inline-block;
}
.visa-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 300px;
  height: 180px;
  background-image: radial-gradient(circle 897px at 9% 80.3%,rgb(255, 0, 0) 0%,rgba(234, 161, 15, 0.9) 100.2%);
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  gap: 15px;
}
.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
}
.svgLogo {
  height: 40px;
  width: auto;
}
.inputstyle::placeholder {
  color: #ffffff;
}
.inputstyle {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: red;
  font-size: 13px;
  height: 25px;
  letter-spacing: 1.5px;
}
.number-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#cardNumber {
  width: 100%;
  height: 25px;
}
.name-date-cvv-container {
  width: 100%;
  height: 25px;
  display: flex;
  gap: 10px;
}
.name-wrapper {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.expiry-wrapper, .cvv-wrapper {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.cvv-wrapper {
  width: 10%;
}
#expiry,#cvv {
  width: 100%;
}
.input-label {
  font-size: 8px;
  letter-spacing: 1.5px;
  color: #e2e2e2;
  width: 100%;
}
.paginas {
  background-color: black;
  color: white;
}
.pagination {
  display: flex;
  justify-content: space-around;
}
.snos1,.snos2 {
  font-family: "Honk";
  color:green;
}
.snos1 {
  font-size: 66px;
}
.snos2 {
  font-size: 45px;
}
.descripcionEmpresa {
  font-family: "Exo 2";
}